<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jknoxville.gitnote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jknoxville.gitnote.NotebookListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jknoxville.gitnote.NoteListActivity"
            android:label="@string/title_notebook_detail"
            android:parentActivityName=".NotebookListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NotebookListActivity" />
        </activity>
        <activity
            android:name="com.jknoxville.gitnote.NoteActivity"
            android:label="@string/title_note_list_detail"
            android:parentActivityName=".NoteListActivity" >
        </activity>
        <activity
            android:name="com.jknoxville.gitnote.SettingsActivity"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="com.jknoxville.gitnote.NoteViewActivity"
            android:label="@string/title_activity_note_view" >
        </activity>
    </application>

</manifest>
